IPV4

![image](https://user-images.githubusercontent.com/21978475/91994819-a1325200-ed69-11ea-83aa-8516d52ad697.png)



An IP [packet](https://en.wikipedia.org/wiki/Packet_(information_technology)) consists of a header section and a data section. An IP packet has no data checksum or any other footer after the data section. Typically the [link layer](https://en.wikipedia.org/wiki/Link_layer) encapsulates IP packets in frames with a CRC footer that detects most errors, many [transport-layer protocols](https://en.wikipedia.org/wiki/Transport_layer) carried by IP also have their own error checking.[[27\]](https://en.wikipedia.org/wiki/IPv4#cite_note-27)

### Header[[edit](https://en.wikipedia.org/w/index.php?title=IPv4&action=edit&section=14)]

The IPv4 packet header consists of 14 fields, of which 13 are required. The 14th field is optional and aptly named: options. The fields in the header are packed with the most significant byte first ([big endian](https://en.wikipedia.org/wiki/Endianness)), and for the diagram and discussion, the most significant bits are considered to come first ([MSB 0 bit numbering](https://en.wikipedia.org/wiki/MSB0)). The most significant bit is numbered 0, so the version field is actually found in the four most significant bits of the first byte, for example.

![image](https://user-images.githubusercontent.com/21978475/91995690-b360c000-ed6a-11ea-9502-c37268070575.png)


The IPv4 header is variable in size due to the optional 14th field (options). The IHL field contains the size of the IPv4 header, it has 4 bits that specify the number of 32-bit [words](https://en.wikipedia.org/wiki/Word_(data_type)) in the header. The minimum value for this field is 5,[[28\]](https://en.wikipedia.org/wiki/IPv4#cite_note-28) which indicates a length of 5 × 32 bits = 160 bits = 20 bytes. As a 4-bit field, the maximum value is 15, this means that the maximum size of the IPv4 header is 15 × 32 bits, or 480 bits = 60 bytes.

- [Differentiated Services Code Point (DSCP)](https://en.wikipedia.org/wiki/Differentiated_Services_Code_Point)

  Originally defined as the [type of service](https://en.wikipedia.org/wiki/Type_of_service) (ToS), this field specifies [differentiated services](https://en.wikipedia.org/wiki/Differentiated_services) (DiffServ) per [RFC 2474](https://tools.ietf.org/html/rfc2474) (updated by [RFC 3168](https://tools.ietf.org/html/rfc3168) and [RFC 3260](https://tools.ietf.org/html/rfc3260)). New technologies are emerging that require real-time data streaming and therefore make use of the DSCP field. An example is [Voice over IP](https://en.wikipedia.org/wiki/Voice_over_IP) (VoIP), which is used for interactive voice services.

- [Explicit Congestion Notification](https://en.wikipedia.org/wiki/Explicit_Congestion_Notification) (ECN)

  This field is defined in [RFC 3168](https://tools.ietf.org/html/rfc3168) and allows end-to-end notification of [network congestion](https://en.wikipedia.org/wiki/Network_congestion) without dropping packets. ECN is an optional feature that is only used when both endpoints support it and are willing to use it. It is effective only when supported by the underlying network.

  This 16-bit field defines the entire packet size in bytes, including header and data. The minimum size is 20 bytes (header without data) and the maximum is 65,535 bytes. All hosts are required to be able to reassemble datagrams of size up to 576 bytes, but most modern hosts handle much larger packets. Sometimes links impose further restrictions on the packet size, in which case datagrams must be fragmented. Fragmentation in IPv4 is handled in either the host or in routers.

  This field is an identification field and is primarily used for uniquely identifying the group of fragments of a single IP datagram. Some experimental work has suggested using the ID field for other purposes, such as for adding packet-tracing information to help trace datagrams with spoofed source addresses,[[29\]](https://en.wikipedia.org/wiki/IPv4#cite_note-29) but [RFC 6864](https://tools.ietf.org/html/rfc6864) now prohibits any such use.

  A three-bit field follows and is used to control or identify fragments. They are (in order, from most significant to least significant):bit 0: Reserved; must be zero.[[note 1\]](https://en.wikipedia.org/wiki/IPv4#cite_note-30)bit 1: Don't Fragment (DF)bit 2: More Fragments (MF)If the DF flag is set, and fragmentation is required to route the packet, then the packet is dropped. This can be used when sending packets to a host that does not have resources to handle fragmentation. It can also be used for [path MTU discovery](https://en.wikipedia.org/wiki/Path_MTU_discovery), either automatically by the host IP software, or manually using diagnostic tools such as [ping](https://en.wikipedia.org/wiki/Ping_(networking_utility)) or [traceroute](https://en.wikipedia.org/wiki/Traceroute). For unfragmented packets, the MF flag is cleared. For fragmented packets, all fragments except the last have the MF flag set. The last fragment has a non-zero Fragment Offset field, differentiating it from an unfragmented packet.

The fragment offset field is measured in units of eight-byte blocks. It is 13 bits long and specifies the offset of a particular fragment relative to the beginning of the original unfragmented IP datagram. The first fragment has an offset of zero. This allows a maximum offset of (213 – 1) × 8 = 65,528 bytes, which would exceed the maximum IP packet length of 65,535 bytes with the header length included (65,528 + 20 = 65,548 bytes).



The [options field](https://en.wikipedia.org/wiki/Internet_Protocol_Options) is not often used. Note that the value in the IHL field must include enough extra 32-bit words to hold all the options (plus any padding needed to ensure that the header contains an integer number of 32-bit words). The list of options may be terminated with an EOL ([End of Options List](https://en.wikipedia.org/w/index.php?title=End_of_Options_List&action=edit&redlink=1), 0x00) option; this is only necessary if the end of the options would not otherwise coincide with the end of the header. The possible options that can be put in the header are as follows:

|     Field     | Size (bits) |                         Description                          |
| :-----------: | :---------: | :----------------------------------------------------------: |
|    Copied     |      1      | Set to 1 if the options need to be copied into all fragments of a fragmented packet. |
| Option Class  |      2      | A general options category. 0 is for "control" options, and 2 is for "debugging and measurement". 1 and 3 are reserved. |
| Option Number |      5      |                     Specifies an option.                     |
| Option Length |      8      | Indicates the size of the entire option (including this field). This field may not exist for simple options. |
|  Option Data  |  Variable   | Option-specific data. This field may not exist for simple options. |

- Note: If the header length is greater than 5 (i.e., it is from 6 to 15) it means that the options field is present and must be considered.
- Note: Copied, Option Class, and Option Number are sometimes referred to as a single eight-bit field, the *Option Type*.

Packets containing [some options may be considered as dangerous](https://en.wikipedia.org/wiki/Internet_Protocol_Options_Considerations) by some routers and be blocked.[[30\]](https://en.wikipedia.org/wiki/IPv4#cite_note-31)

The table below shows the defined options for IPv4. Strictly speaking, the column labeled "Option Number" is actually the "Option Value" that is derived from the Copied, Option Class, and Option Number bits as defined above. However, since most people today refer to this combined bit set as the "option number," this table shows that common usage. The table shows both the decimal and the hexadecimal option numbers.[[31\]](https://en.wikipedia.org/wiki/IPv4#cite_note-32)

| Option Number | Option Name |          Description          |
| :-----------: | :---------: | :---------------------------: |
|   0 / 0x00    |    EOOL     |      End of Option List       |
|   1 / 0x01    |     NOP     |         No Operation          |
|   2 / 0x02    |     SEC     |      Security (defunct)       |
|   7 / 0x07    |     RR      |         Record Route          |
|   10 / 0x0A   |     ZSU     |   Experimental Measurement    |
|   11 / 0x0B   |    MTUP     |           MTU Probe           |
|   12 / 0x0C   |    MTUR     |           MTU Reply           |
|   15 / 0x0F   |   ENCODE    |            ENCODE             |
|   25 / 0x19   |     QS      |          Quick-Start          |
|   30 / 0x1E   |     EXP     |   RFC3692-style Experiment    |
|   68 / 0x44   |     TS      |          Time Stamp           |
|   82 / 0x52   |     TR      |          Traceroute           |
|   94 / 0x5E   |     EXP     |   RFC3692-style Experiment    |
|  130 / 0x82   |     SEC     |       Security (RIPSO)        |
|  131 / 0x83   |     LSR     |      Loose Source Route       |
|  133 / 0x85   |    E-SEC    |   Extended Security (RIPSO)   |
|  134 / 0x86   |    CIPSO    | Commercial IP Security Option |
|  136 / 0x88   |     SID     |           Stream ID           |
|  137 / 0x89   |     SSR     |      Strict Source Route      |
|  142 / 0x8E   |    VISA     |  Experimental Access Control  |
|  144 / 0x90   |    IMITD    |    IMI Traffic Descriptor     |
|  145 / 0x91   |     EIP     |  Extended Internet Protocol   |
|  147 / 0x93   |   ADDEXT    |       Address Extension       |
|  148 / 0x94   |   RTRALT    |         Router Alert          |
|  149 / 0x95   |     SDB     | Selective Directed Broadcast  |
|  151 / 0x97   |     DPS     |     Dynamic Packet State      |
|  152 / 0x98   |     UMP     |    Upstream Multicast Pkt.    |
|  158 / 0x9E   |     EXP     |   RFC3692-style Experiment    |
|  205 / 0xCD   |    FINN     |   Experimental Flow Control   |
|  222 / 0xDE   |     EXP     |   RFC3692-style Experiment    |

### Data[[edit](https://en.wikipedia.org/w/index.php?title=IPv4&action=edit&section=15)]

The packet payload is not included in the checksum. Its contents are interpreted based on the value of the Protocol header field.

Some of the common payload protocols are:

| Protocol Number |                        Protocol Name                         | Abbreviation |
| :-------------: | :----------------------------------------------------------: | :----------: |
|        1        | [Internet Control Message Protocol](https://en.wikipedia.org/wiki/Internet_Control_Message_Protocol) |     ICMP     |
|        2        | [Internet Group Management Protocol](https://en.wikipedia.org/wiki/Internet_Group_Management_Protocol) |     IGMP     |
|        6        | [Transmission Control Protocol](https://en.wikipedia.org/wiki/Transmission_Control_Protocol) |     TCP      |
|       17        | [User Datagram Protocol](https://en.wikipedia.org/wiki/User_Datagram_Protocol) |     UDP      |
|       41        | [IPv6 encapsulation](https://en.wikipedia.org/wiki/IPv6#Tunneling) |    ENCAP     |
|       89        | [Open Shortest Path First](https://en.wikipedia.org/wiki/Open_Shortest_Path_First) |     OSPF     |
|       132       | [Stream Control Transmission Protocol](https://en.wikipedia.org/wiki/Stream_Control_Transmission_Protocol) |     SCTP     |

See [List of IP protocol numbers](https://en.wikipedia.org/wiki/List_of_IP_protocol_numbers) for a complete list.


## Addressing[[edit](https://en.wikipedia.org/w/index.php?title=IPv4&action=edit&section=3)]

[![img](https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Ipv4_address.svg/300px-Ipv4_address.svg.png)](https://en.wikipedia.org/wiki/File:Ipv4_address.svg)

Decomposition of the quad-dotted IPv4 address representation to its [binary](https://en.wikipedia.org/wiki/Binary_numeral_system) value

IPv4 uses 32-bit addresses which limits the [address space](https://en.wikipedia.org/wiki/Address_space) to 4294967296 (232) addresses.

IPv4 reserves special address blocks for [private networks](https://en.wikipedia.org/wiki/Private_network) (~18 million addresses) and [multicast](https://en.wikipedia.org/wiki/Multicast) addresses (~270 million addresses).

### Address representations[[edit](https://en.wikipedia.org/w/index.php?title=IPv4&action=edit&section=4)]

IPv4 addresses may be represented in any notation expressing a 32-bit integer value. They are most often written in [dot-decimal notation](https://en.wikipedia.org/wiki/Dot-decimal_notation), which consists of four [octets](https://en.wikipedia.org/wiki/Octet_(computing)) of the address expressed individually in [decimal](https://en.wikipedia.org/wiki/Decimal) numbers and separated by [periods](https://en.wikipedia.org/wiki/Full_stop).

For example, the quad-dotted IP address *192.0.2.235* represents the 32-bit [decimal](https://en.wikipedia.org/wiki/Decimal) number 3221226219, which in [hexadecimal](https://en.wikipedia.org/wiki/Hexadecimal) format is 0xC00002EB. This may also be expressed in dotted hex format as 0xC0.0x00.0x02.0xEB, or with octal byte values as 0300.0000.0002.0353.

[CIDR notation](https://en.wikipedia.org/wiki/CIDR_notation) combines the address with its routing prefix in a compact format, in which the address is followed by a slash character (/) and the count of leading consecutive *1* bits in the routing prefix (subnet mask).

Other address representations were in common use when [classful networking](https://en.wikipedia.org/wiki/Classful_network) was practiced. For example, the loopback address *127.0.0.1* is commonly written as *127.1*, given that it belongs to a class-A network with eight bits for the network mask and 24 bits for the host number. When fewer than four numbers are specified in the address in dotted notation, the last value is treated as an integer of as many bytes as are required to fill out the address to four octets. Thus, the address *127.65530* is equivalent to *127.0.255.250*.

### Allocation[[edit](https://en.wikipedia.org/w/index.php?title=IPv4&action=edit&section=5)]

In the original design of IPv4, an IP address was divided into two parts: the network identifier was the most significant octet of the address, and the host identifier was the rest of the address. The latter was also called the *rest field*. This structure permitted a maximum of 256 network identifiers, which was quickly found to be inadequate.

To overcome this limit, the most-significant address octet was redefined in 1981 to create *network classes*, in a system which later became known as [classful networking](https://en.wikipedia.org/wiki/Classful_network). The revised system defined five classes. Classes A, B, and C had different bit lengths for network identification. The rest of the address was used as previously to identify a host within a network. Because of the different sizes of fields in different classes, each network class had a different capacity for addressing hosts. In addition to the three classes for addressing hosts, Class D was defined for [multicast](https://en.wikipedia.org/wiki/Multicast) addressing and Class E was reserved for future applications.

Dividing existing classful networks into subnets began in 1985 with the publication of [RFC](https://en.wikipedia.org/wiki/RFC_(identifier)) [950](https://tools.ietf.org/html/rfc950). This division was made more flexible with the introduction of variable-length subnet masks (VLSM) in [RFC](https://en.wikipedia.org/wiki/RFC_(identifier)) [1109](https://tools.ietf.org/html/rfc1109) in 1987. In 1993, based on this work, [RFC](https://en.wikipedia.org/wiki/RFC_(identifier)) [1517](https://tools.ietf.org/html/rfc1517) introduced [Classless Inter-Domain Routing](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) (CIDR),[[4\]](https://en.wikipedia.org/wiki/IPv4#cite_note-4) which expressed the number of bits (from the [most significant](https://en.wikipedia.org/wiki/Most_significant_bit)) as, for instance, /24, and the class-based scheme was dubbed *classful*, by contrast. CIDR was designed to permit repartitioning of any address space so that smaller or larger blocks of addresses could be allocated to users. The hierarchical structure created by CIDR is managed by the [Internet Assigned Numbers Authority](https://en.wikipedia.org/wiki/Internet_Assigned_Numbers_Authority) (IANA) and the [regional Internet registries](https://en.wikipedia.org/wiki/Regional_Internet_registry) (RIRs). Each RIR maintains a publicly searchable [WHOIS](https://en.wikipedia.org/wiki/WHOIS) database that provides information about IP address assignments.